.main_form{
	margin-top: 100px;
}
.form{
	position: relative;
	width: 500px;
	margin: 0 auto;
	background: rgba(0,0,0,0.7);
	padding: 20px;
	border-radius: 5px;
}
.label_form{
	color: #eee;
}
.input_form{
	border: 2px solid #eee;
	width: 496px;
	height: 35px;
	background: none;
	border-radius: 5px;
	color: #eee;
}
input::-webkit-input-placeholder { color: #eee; }
.select_form{
	width: 500px;
	height: 41px;
	border: 2px solid #eee;
	background: none;
	border-radius: 5px;	
	color: #eee;
}
option{
  color:#fff;
  background: #369;
}
optgroup{
	 background: #696969;
}
.submit_form{
	width: 100px;
	height: 50px;
	background: yellow;
	left: 50%;
	margin-left: 200px;
	cursor: pointer;
	transition: 0.3s;
}
.submit_form:hover{
	transform: scale(1.1);
}
.button{
	width: 100%;
}